mixin social()
	.social
		a.social__btn._fb(href="https://www.facebook.com/pages/Будь-в-форме/1431900187106801", title="Мы в Facebook", target="_blank")
		a.social__btn._vk(href="https://vk.com/public93564426", title="Мы ВКонтакте", target="_blank")
