mixin promo()
	.promo
		img.promo__image(src="./images/promo.jpg", width="792", height="394")
		span.promo__label
			| Построим 
			strong спортивную
				| площадку
			br
			| в Раменском 
			| вместе!