mixin payment-form()
	.payment-form
		iframe(class="iframe", src="https://money.yandex.ru/fastpay/form/c10952f7fdaa4ee9951dbef0ea2b9532",
				width="500", height="341", style="border: 1px solid #e8e8e8;")