mixin payment-form()
	.payment-form
		iframe(class="iframe", src="https://money.yandex.ru/fastpay/form/6385022d7d2d4aa998c5e1991a820e8d",
				width="500", height="341", style="border: 1px solid #e8e8e8;")