mixin gallery()
	.gallery(onclick='return {"gallery": {}}').js-widget
		.gallery__photos
			.gallery__item
				a.gallery__photo(href="/images/plan/photo1.jpg", title="Общий план площадки")
					img(src="/images/plan/photo1.jpg", height="294", alt="")
				span.gallery__label Общий план площадки
			.gallery__item
				a.gallery__photo(href="/images/plan/photo2.jpg", title="Разбивочный план")
					img(src="/images/plan/photo2.jpg", height="294", alt="")
				span.gallery__label Разбивочный план
			.gallery__item
				a.gallery__photo(href="/images/plan/photo3.jpg", title="Визуализация площадки")
					img(src="/images/plan/photo3.jpg", height="294", alt="")
				span.gallery__label Визуализация площадки
			.gallery__item
				a.gallery__photo(href="/images/plan/photo4.jpg", title="Визуализация площадки")
					img(src="/images/plan/photo4.jpg", height="294", alt="")
				span.gallery__label Визуализация площадки
			.gallery__item
				a.gallery__photo(href="/images/plan/photo5.jpg", title="Развертка площадки")
					img(src="/images/plan/photo5.jpg", height="294", alt="")
				span.gallery__label Развертка площадки