mixin president()
	.president
		.president__photo
			img(src="./images/president.jpg", width="175", height="228", alt="")
		.president__info
			.president__fullname
				| Кармазинский
				br
				| Сергей Владимирович
			.president__position Президент фонда

			a.president__email(href="mailto:bvforme@mail.ru") bvforme@mail.ru
			.president__phone +7 926 572 61 10
			
			a.president__details-link(href="#details", onclick='return {"popupLink": {}}').js-widget Реквизиты фонда
			.president__details-popup
				+details-popup
