mixin details-popup()
	.details-popup.mfp-hide#details
		table.details-popup__table
			tr
				td Полное наименование
				td Благотворительный фонд содействия развитию спорта  «Будь в форме»
			tr
				td Сокращенное наименование
				td БФ «Будь в форме»
			tr
				td Юридический адрес
				td 140108 г. Раменское, улица Михалевича, дом 59/1, 2 этаж
			tr
				td Фактический адрес
				td 140108 г. Раменское, улица Михалевича, дом 59/1, 2 этаж
			tr
				td Телефон
				td 8-926-572-61-10
			tr
				td ИНН/КПП
				td 5040998955/504001001
			tr
				td ОГРН
				td 1145000001772
			tr
				td Расчетный счет
				td 40703810640020001966
			tr
				td Корреспондентский счет
				td 30101810400000000225
			tr
				td БИК банка
				td 044525225
			tr
				td Банк
				td ОАО «Сбербанк России»
			tr
				td Классификаторы в статистическом регистре
				td 
					| ОКПО 33061034; ОКАТО 46248501000; 
					| ОКТМО 46648101001; ОКОГУ 4210014; 
					| ОКФС 50; ОКОПФ 20401; ОКВЭД 93.04
			tr
				td Свидетельство о государственной регистрации
				td Серия 50 №011675645 от 31.03.2014 г.
			tr
				td Президент
				td Кармазинский Сергей Владимирович, действует на основании Устава
			tr
				td E-mail
				td bvforme@mail.ru