mixin about-actions()
	.about-actions(onclick='return {"aboutActions": {}}').js-widget
		a.about-actions__link._b1(href="/images/docs/smeta.jpg", target="_blank")
			span.about-actions__label Смета проекта
		a.about-actions__link._b2(href="/images/docs/razreshenie.jpg", target="_blank")
			span.about-actions__label Разрешение на строительство