mixin stat()
	.stat
		.stat__row
			span.stat__label cобрано средств
			span.stat__sum 1 345 000
			span.stat__currency руб.
		.stat__progress
			.stat__value(style="width: 30%")
		.stat__row._last
			span.stat__label требуется
			span.stat__sum 2 550 000
			span.stat__currency руб.
		a.btn.stat__btn(href="#fund", onclick='return {"scollLink": {}}').js-widget Поддержать проект