mixin stat()
	.stat
		.stat__row
			span.stat__label cобрано средств
			span.stat__sum 1 950 000
			span.stat__currency руб.
		.stat__progress
			.stat__value(style="width: 35%")
		.stat__row._last
			span.stat__label требуется
			span.stat__sum 2 650 000
			span.stat__currency руб.
		a.btn.stat__btn(href="#charity", onclick='return {"scollLink": {}}').js-widget Поддержать проект