mixin menu()
	.menu(onclick='return {"menu": {}}').js-widget
		a.menu__link(href="project") О проекте
		a.menu__link(href="location") Расположение площадки
		a.menu__link(href="charity") Поддержи проект
		a.menu__link(href="fund") О фонде