mixin header()
	header.header
		.header__logo
			+logo
		.header__text 
			span.header__text-row._r1 Благотворительный фонд 
			span.header__text-row._r2 содействия развитию спорта
		.header__menu
			+menu